html,
body {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  //overflow-x: hidden;
}
h1,
h2,
h3,
h4 {
  font-family: 'Kalam', cursive;
}

.section-heading {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

h2 {
  margin-top: 0rem;
  font-size: 6rem;
  color: #ffffff;
  text-align: left;
  padding-top: 4rem;
  margin-bottom: 2rem;
}

p {
  font-weight: 300;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

button {
	border: 0 solid;
  background-color: #ff3f80;
  color: #fff;
  padding: 10px 14px;
  border-radius: 5px;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
	outline: 1px solid;
	outline-color: rgba(255, 255, 255, 0.5);
	outline-offset: 0px;
	text-shadow: none;
	transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
	&:hover {
		border: 1px solid;
		box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
			0 0 20px rgba(255, 255, 255, 0.2);
		outline-color: rgba(255, 255, 255, 0);
		outline-offset: 15px;
		text-shadow: 1px 1px 2px #427388;
	}
}