$color-white: #ffffff;
$color-links: #3e50b4;
$color-one: #ff3f80;
$color-two: #424242;
$color-three: #e7e7e7;
$color-black: #1a1a1a;

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Kalam', cursive;

